

.contenedor-header {
    background-color: lightblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    
}

.contenedor-header h2 {
    font-size: 50px;
    width: 100%;
    font-family: 'Advent Pro', sans-serif;
    display: flex; 
    justify-content: center;
    
}

.contenedor-header span {
    display: flex;
    align-items: center;
    font-size: 50px;
    margin: 10px;
}


.nav-bar {
    width: 100%;    
}


.nav-bar ul {
    font-size: 25px;
    display: flex;
    justify-content: center;
    
}

.nav-bar li {
    display: inline;
    margin: 15px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
    
}

.nav-bar a {
    text-decoration: none;
    color: lightcoral;
    font-weight: bold;
}

.nav-bar a:hover {
    color: black;
}

.nav-bar span {
    color: white;
    font-size: 40px;
}

.contenedor-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
    padding-top: 70px;
}

.item {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 300px;    
    border-radius: 20px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'Advent Pro', sans-serif;
    margin: 30px;    
}

.item img {
    max-height: 200px;
    max-width: 300px;
    min-height: 200px;
    padding-top: 20px;
}

.item h1 {
    font-size: 30px;
    
}

.item p {
    font-weight: bold;
}

.item button {
    background-color: lightcoral;
    border-color: lightcoral;
    font-size: 15px;
    border-radius: 5px;
    margin: 10px;    
}

.item button:hover {
    background-color: lightblue;
}


.contenedor-footer {
    background-color: lightblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    
}

.contenedor-footer img {
    padding: 10px;
}


.contenedor-detail {         
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
    min-height: 500px;   

}

.contenedor-detail img {    
    max-width: 500px;    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.detail {   
    text-align: center;    
}

.detail p {
    font-size: 15px;
}

.descripcion {
    margin-left: 20px;
}

.descripcion h1 {
    font-size: 50px;
}

.boton-desripcion {
    font-weight: bold;
    color: lightcoral;
    text-decoration: none;
}

















