.contenedor-header {
    background-color: lightblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-wrap: wrap;
    
}

.contenedor-header h2 {
    font-size: 50px;
    width: 100%;
    font-family: 'Advent Pro', sans-serif;
    display: flex; 
    justify-content: center;
    
}

.contenedor-header span {
    display: flex;
    align-items: center;
    font-size: 50px;
    margin: 10px;
}


.nav-bar {
    width: 100%;    
}


.nav-bar ul {
    font-size: 25px;
    display: flex;
    justify-content: center;
    
}

.nav-bar li {
    display: inline;
    margin: 15px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
    
}

.nav-bar a {
    text-decoration: none;
    color: lightcoral;
    font-weight: bold;
}

.nav-bar a:hover {
    color: black;
}

.nav-bar span {
    color: white;
    font-size: 40px;
}

.contenedor-main {    
    font-size: 20px;    
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;    
}

.contenedor-main img {
    max-height: 150px;
    max-width: 200px;
    padding-top: 20px;    
}

.itemList {    
    padding: 20px;
    text-align: center;        
}

.item {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 300px;
    border-radius: 20px;
    margin: 10px;
    font-size: 25px;  
}

.item h3 {
    font-size: 15px;
}

.item h5 {
    font-size: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}

.item h2 {
    font-size: 20px;    
}


.item button {
    background-color: lightcoral;
    border-color: lightcoral;
    
    
}

.item button:hover {
    background-color: lightblue;
}




.contenedor-footer {
    background-color: lightblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
    
}



.contador {
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    
}

.contador button {
    min-width: 40px;
    background-color: lightcoral;
    border-color: lightcoral;
    margin: 20px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.contador button:hover {
    background-color: lightblue;
}












