.contenedor-header {
    background-color: lightblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     
}

.contenedor-header h2 {
    font-size: 50px;
    font-family: 'Advent Pro', sans-serif;
    display: flex; 
    justify-content: center;
    padding-top: 20px;
}

.contenedor-header ul {
    font-size: 25px;
    display: flex;
    justify-content: center;
    
}

.contenedor-header li {
    display: inline;
    margin: 15px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
}

.contenedor-header a {
    text-decoration: none;
    color: lightcoral;
    font-weight: bold;
}

.contenedor-header a:hover {
    color: black;
}

.contenedor-header span {
    display: flex;
    align-items: center;
    font-size: 50px;
    margin: 10px;
}



